{% extends "base.html" %}

{% block content %}
  {% if page.meta.git_creation_date_localized or page.meta.git_revision_date_localized %}
    <div style="margin-bottom: 1em; padding: 0.5em 0; border-bottom: 1px solid var(--md-default-fg-color--lightest);">
      <small style="color: var(--md-default-fg-color--light);">
        {% if page.meta.git_creation_date_localized %}
          <span title="Creation date">📅 Created: <strong>{{ page.meta.git_creation_date_localized }}</strong></span>
        {% endif %}
        {% if page.meta.git_revision_date_localized %}
          {% if page.meta.git_creation_date_localized %} &nbsp;|&nbsp; {% endif %}
          <span title="Last update">🔄 Updated: <strong>{{ page.meta.git_revision_date_localized }}</strong></span>
        {% endif %}
      </small>
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
