# Project information
site_name: Mind~Flow
site_url: https://halyph.github.io/
site_author: Orest Ivasiv 
site_description: >-
  Blog and/or personal knowledge base

# Repository
repo_name: halyph/mind-flow
repo_url: https://github.com/halyph/mind-flow

copyright: Copyright &copy; 2009 - 2025 Orest Ivasiv

theme:
  name: material
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.png
  include_sidebar: false

  font:
    text: Rubik
    code: Rubik Mono

  # See https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-palette
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: light-blue
      accent: indigo
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.top
    # - navigation.instant
    # - navigation.sections
    - navigation.tabs
    # - navigation.indexes


# Possible extensions: https://python-markdown.github.io/sitemap.html
# More extensions: https://facelessuser.github.io/pymdown-extensions/
markdown_extensions:
- toc:
    slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
    toc_depth: 3
    permalink: true
- meta
- admonition
- smarty
- extra
- codehilite
- pymdownx.caret
- pymdownx.critic
- pymdownx.details
- pymdownx.keys
- pymdownx.magiclink
- pymdownx.mark
- pymdownx.superfences
- pymdownx.tilde
- pymdownx.highlight
- mdx_truly_sane_lists
- tables
- attr_list
- footnotes
- md_in_html
- pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_div_format

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

extra_css:
  - assets/css/mermaid.css
  - assets/css/extra.css

# Useful plugins: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins
# Plugin documentation: https://www.mkdocs.org/user-guide/configuration/#plugins
plugins:
  - meta
  - awesome-pages
  - git-revision-date-localized:
      enable_creation_date: true
      type: date
      exclude:
        - blog/index.md
        - about.md
        - bookshelf.md